.home {
    width: 100%;
    margin: 0;
    padding: 0;
    background: var(--bg-color);
}

.hero {
    width: 100vw;
    height: 100vh;
    max-width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-overlay {
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, 0.45);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    
}

.hero h2 {
    font-size: 4em;
    color: var(--primary-dark);
    max-width: 70%;
    margin-bottom: 2%;
    font-weight: 600;
}

.start-button {
    display: inline-block;
    padding: 16px 40px;
    background: var(--primary-color);
    color: var(--bg-color);
    border-radius: 30px;
    font-size: 18px;
    text-decoration: none;
    transition: background 0.2s ease;
}

.start-button:hover {
    background: var(--primary-dark);
}


/* SECTION 2: ABOUT PREVIEW */
.about-preview {
    max-width: 1200px;
    margin: 100px auto;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    align-items: center;
}

.about-image img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 0 8px 25px var(--shadow-color);
}

.about-text p {
    font-size: 18px;
    color: var(--text-light);
    line-height: 1.8;
    margin-bottom: 25px;
}


/* SECTION 3: FEATURES */
.features {
    max-width: 1200px;
    margin: 80px auto 0;
    padding: 0 30px;
}

.features h2 {
    text-align: center;
    color: var(--primary-color);
    margin-bottom: 40px;
}

.feature-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.feature-card {
    background: var(--bg-color);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 5px 20px var(--shadow-color);
    border: 1px solid var(--border-color);
    transition: 0.2s ease;
}

.feature-card:hover {
    border-color: var(--primary-light);
    transform: translateY(-3px);
}

.feature-card h3 {
    color: var(--primary-color);
    margin-bottom: 15px;
}


/* DISCLAIMER */
.disclaimer {
    max-width: 1200px;
    margin: 80px auto;
    padding: 30px;
    background: var( --disclaimer-color);
    border-radius: 20px;
    border-left: 5px solid var(--disclaimer-main-color);
    color: var(--text-color);
}


/* Arabic RTL support */
.arabic .about-text,
.arabic .feature-card,
.arabic .disclaimer {
    direction: rtl;
    text-align: right;
}


/* Responsive */
@media (max-width: 900px) {
    .hero h2 {
        font-size: 32px;
    }

    .about-preview {
        grid-template-columns: 1fr;
        margin: 60px auto;
    }

    .feature-container {
        grid-template-columns: 1fr;
    }
}